<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="google-chrome-x64" />
  <package id="firefox" />
  <package id="vuzeclient" />
  <package id="ConEmu" />
  <package id="Cygwin" />
  <package id="vlc" />
  <package id="SublimeText3" />
  <package id="SourceTree" />
  <package id="winscp" />
  <package id="virtualbox" />
  <package id="VirtualBox.ExtensionPack" />
  <package id="vagrant" />
  <package id="putty-d2ddw" />
  <package id="imgburn" />
  <package id="hosts.editor" />
  <package id="1password" />
  <package id="dropbox" />
  <package id="githubforwindows" />
  <package id="wincdemu" />
  <package id="winrar" />
  <package id="mkvtoolnix" />
  <package id="bind-toolsonly" />
</packages>
